name: Obfuscate Worker

on:
  workflow_dispatch:

jobs:
  obfuscate:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: true

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install deps
        run: npm install

      - name: Build (obfuscate)
        run: npm run build

      - name: Commit obfuscated file
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add dist/worker.js
          git diff --cached --quiet || git commit -m "chore: update obfuscated worker"
          git push
